#background {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

body {
    color: #40e0d0;
}

.mynav {
    padding-right: .5rem;
    padding-left: .5rem;
    color: rgba(0,0,0,.5);
}

#mainNav{
    margin-bottom: 1rem;
}

.nav-link {
    display: inline;
}

#cityNameDiv {
    text-align: center;
}

#cityOpen {
    border: solid;
    border-color: white;
    color: black;
    background-color: rgb(165, 241, 235);
    border-radius: 20px;
    padding: 2rem;
}

#cityName {
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 4em;
}

#cityBlurb {
    font-family: 'Cinzel', serif;
    font-family: 'Source Serif Pro', serif;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    font-weight: 200;
    font-style: italic;
}

#wishListContainer {
    margin-top: 1rem;
    background-color: rgb(190, 189, 89);
    color: black;
}

.wishListRow {
    padding: 1rem 0;
}

#sidebar {
    text-align:center;
    padding-bottom: 100px;
}

#restaurants {
    font-family: 'Cinzel', serif;
    font-family: 'Source Serif Pro', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    background-color: rgb(143, 195, 241);
    border-radius: 20px;
    color: #003300;
    padding-bottom: 4rem;
}

#restaurantHead {
    margin: auto;
}

.restaurantName {
    margin: auto;
    font-family: 'Cinzel', serif;
    font-family: 'Source Serif Pro', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
}

.restaurantImage {
    height: 350px;
    width: 350px;
}

#restaurantSearch {
    text-align: left;
}

#searchResultsContainer {
    background-color: rgb(143, 195, 241);
    color: black;
}

#searchInputGroup {
    text-align: center;
}

#restaurantAdd {
    text-align: center;
    background-color: rgb(143, 195, 241);
    color: black;
    align-items: center;
}

.icon {
    background-color: black;
}

#addRestText {
    font-family: 'Cinzel', serif;
    font-family: 'Source Serif Pro', serif;
    font-family: 'Lato', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-size: 1em;
    font-weight: bold;
}

#weatherBox {
    margin-top: 5px;
    background-color:yellow;
    color: black;
}

#weatherData {
    text-align:left;
}

.weatherImage {
    margin:auto;
    height:100%;
    width:100%;
}

#seatGeekBox {
    background-color: #4dff4d;
    margin-top: 5px;
    color: black;
}

#kayakBox {
    background-color: lightblue;
    margin-top: 5px;
    color: black;
}
